@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


:root {
    --primary-color: #E6533C;
}

body {
    width: 90%;
    margin: auto;
    background-color: black;
    padding: 1em;

}

.nav-main-container {
    width: 100%;
    background: linear-gradient(45deg, rgb(17, 17, 17), rgba(242, 234, 234, 0.129) 100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    align-items: center;
}

.nav-content ul {
    display: flex;
    align-items: center;

}

.nav-content ul li {
    text-decoration: none;
    list-style: none;
    margin-left: 1em;
    color: white;
}

.primary-color {
    color: var(--primary-color);
}

.home {
    border: 1px solid white;
    background-color: var(--primary-color);
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 46%;
}

.nav-body {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 1em 0;
    align-items: center;
    color: white;
    width: 100%;
    border: 1px solid red;

}

p {
    opacity: 0.5;
}

.nav-body-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4em;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.shape {
    font-family: "Dancing Script", cursive;
}

.join-club-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5em 1em;
    border-radius: 42px;
    border: none;
}

.download-btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 0.5em 1em;
    background-color: transparent;
    color: white;
}

.nav-body-image {
    position: relative;
    width: 100%;
    text-align: end;

}

.video-tutorial {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 160px;
    height: 58px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    right: 270px;
    bottom: 90px;
    font-size: 0.5em;
}

.video-tutorial img {
    width: 30%;
    display: none;
}

.free-workout-video {
    position: absolute;
    width: 160px;
    height: 58px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    right: -40px;
    top: 150px;
    font-size: 0.5em;

}


/* habit section */
.habit {
    text-align: center;
    color: white;
    margin-top: 5em;
}

.habit-img {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    border: 1px solid red;
}

.habit-img div {
    color: white;
    padding: 1em;
}

.habit-img div img {
    width: 80%;
    border-radius: 50%;
    transition: transform 0.7s ease;

}
.habit-img div{
    transition: transform 0.7s ease;
}

.habit-img div img:hover {
    transform: scale(1.3) translate3d(30px, -10px, 20px);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.696);
    
}
.habit-img div:hover{
    transform: scale(1.3) translate3d(30px, -10px, 20px);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.696);
    transition-delay: .1s;
}

/* run extra miles section */
.run-extra-mile {
    color: white;
    margin-top: 5em;
}

.run-extra-mile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 2em;
    height: 200px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-extra-mile-content {
    width: 50%;
}

.run-extra-mile-content h1 {
    font-size: 3em;
}

.run-extra-mile-content p {
    opacity: 0.5;
}

.run-extra-mile-image {
    width: 50%;

}

.run-extra-mile-image {
    
    text-align: end;

}

.run-extra-mile-image img {
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
}














/* mobile responsive  */
@media screen and (max-width: 576px) {
    body {
        width: 100%;
        padding: 2em;
        margin: auto;
    }

    .nav-container {
        flex-direction: column;
        /* align-items: normal; */
    }

    .nav-content ul {
        padding: 0;
    }


    .nav-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .free-workout-video {
        position: absolute;
        width: 160px;
        height: 58px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        right: -10px;
        top: 60px;
        font-size: 0.5em;

    }

    .video-tutorial {

        position: absolute;
        width: 160px;
        height: 58px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        right: 180px;
        bottom: 250px;
        font-size: 0.5em;
    }

    .video-tutorial img {
        width: 30%;
        display: block;
    }


    /* habit section */
    .habit-img {
        flex-direction: column;
    }
    .habit-img div img {
        width: 50%;
    }

    .habit-img div img:hover {
        transform: scale(0.8);
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.696);

    }

    .habit-img div:hover{
        transform: none;
    }

    .habit-img div{
        transition:none;
    }

    /* run extra miles section */
    .run-extra-mile-container {
        flex-direction: column;
        height: auto;
        gap: 1em;
        padding:0;
    }

    .run-extra-mile-content h1 {
        font-size: 2em;
        width: 80%;
    } 
    .run-extra-mile-image img {
        width: 100%;
    }

    .run-extra-mile-content{
        width: 80%;
    }
    .run-extra-mile-image{
        width: 80%;
    }

    #join-now {
        width: 100%;
    }


   
}      
   
     
